PROXMOX_HOST=__PROXMOX_HOST__
PROXMOX_PORT=__PROXMOX_PORT__
PROXMOX_USER=__PROXMOX_USER__
PROXMOX_REALM=__PROXMOX_REALM__
PROXMOX_TOKEN_NAME=__PROXMOX_TOKEN_NAME__
PROXMOX_TOKEN_SECRET=__PROXMOX_TOKEN_SECRET__
PROXMOX_ALLOW_INSECURE_TLS=false
PROXMOX_SSH_HOST=__PROXMOX_SSH_HOST__
PROXMOX_SSH_PORT=__PROXMOX_SSH_PORT__
PROXMOX_SSH_USER=__PROXMOX_SSH_USER__
PROXMOX_SSH_KEY_PATH=__PROXMOX_SSH_KEY_PATH__
